/* * {
  margin: 0%;
  padding: 0%;
} */

body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-image: url("/images/EDITED\ pexels-photo-1142948-01.jpeg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  transition: 3s;
}

p {
  font-size: 18px;
  line-height: 1.6;
}
.btn {
  font-weight: bold;
  border-width: 0.1rem;
}
.btn:hover {
  background-color: #dc3545;
  border: #dc3545;
}

/* Top Div */

.top-div {
  margin: auto;
  padding-top: 16rem;
  width: 80%;
  scroll-behavior: smooth;
}
#top-heading {
  font-size: 84px;
  color: white;
  font-weight: bolder;
}
.heading-p {
  margin: auto;
  color: white;
  line-height: 1.5;
  font-size: 22px;
  padding-top: 1.2rem;
  font-family: "Zilla Slab", serif;
}
.arrow {
  border: solid 3px white;
  border-radius: 50%;
  color: white;
  margin: 2rem;
  margin-bottom: 3.25rem;
  padding: 0.8rem;
}
.arrow:hover {
  color: black;
  background-color: white;
  transition: 0.3s;
}
.trydo-btn {
  border: solid 3px;
  margin: auto;
  margin-bottom: 2rem;
  font-size: 48px;
  border-width: 0.3rem;
  display: none;
}
.trydo-btn:hover {
  color: white;
  border: solid 3px #dc3545;
  border-width: 0.3rem;
}

/* End of Top Div */

/* Main Div */

.main-div {
  width: 80%;
  padding: 0%;
  background-color: white;
}

/* Navbar */

.navbar {
  margin: auto;
  padding: auto 2rem;
}
.nav-item {
  margin: 0.7rem;
  font-size: 15px;
  font-weight: bold;
}

.social {
  padding: 0.5rem;
  padding-top: 1rem;
  width: 50px;
  height: 50px;
}

/* End of Navbar */

/* Mobile Navbar  */

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  text-align: center;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.6s;
  padding-top: 60px;
  display: none;
}

.sidebar a {
  padding: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
  color: #343a40;
  display: block;
  transition: 0.2s;
}

.sidebar a:hover {
  color: #777777;
}

.sidebar .closebtn {
  position: absolute;
  z-index: 1;
  top: 1.4rem;
  right: 1.8rem;
  font-size: 2.2rem;
  margin-left: 50px;
}
.sidebar hr {
  border: 0.1px solid rgb(49, 49, 49);
  padding: 0%;
  margin: 0%;
  width: 80%;
  opacity: 25%;
}
.social-bar {
  margin: 0%;
  padding: 1rem 0 1rem 1rem;
}
.navitem-mobile {
  text-align: left;
  padding-top: 2rem;
  padding-left: 1rem;
}
.openbtn {
  font-size: 20px;
  background-color: #343a40;
  color: #ffffff;
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 0.5rem 0.8rem 0.4rem 0.8rem;
  border: none;
  display: none;
}
.openbtn:hover {
  background-color: #d8d8d8;
  color: #000000;
  transition: 0.3s;
}

#main {
  z-index: 0;
  position: fixed;
  right: 0;
  padding: 1rem;
}

/* End of Mobile Navbar  */

hr {
  border: 0.05px solid rgb(197, 197, 197);
  margin: 3.5rem;
}

/* Featured Post */

.featured-heading {
  font-size: 60px;
  font-weight: bold;
}
.featured-p {
  font-size: 20px;
  margin: auto;
  width: 50%;
  padding: 1rem 0 0.8rem 0;
  font-family: "Zilla Slab", serif;
}
.featured-img {
  transition: 0.3s;
  border-radius: 1rem;
  padding: auto 3rem;
  margin: 1.6rem 0;
  width: 56.25rem;
  height: 34.5rem;
  object-fit: cover;
}
.featured-img:hover {
  transform: scale(1.02);
}

/* End of Featured Post */

.posts-section {
  padding: 0 2rem;
}
.res-hr-mobile {
  display: none;
}

/* All Posts */

.allposts-heading {
  font-weight: bold;
}
.allposts-p {
  margin: auto;
  width: 80%;
  font-family: "Zilla Slab", serif;
}
.allposts-img {
  transition: 0.3s;
  border-radius: 1rem;
  margin: 3rem 0;
  width: 28.125rem;
  height: 17.25rem;
  /* margin: 3rem; */
  object-fit: cover;
}
.allposts-img:hover {
  transform: scale(1.02);
}

/* End of All Posts */

/* Footer */
footer {
  padding: 0%;
  margin: 0%;
}
.input-group {
  padding: 2rem;
  margin: auto;
  width: 60%;
}

section {
  margin: auto;
  width: 80%;
}
.md-form {
  padding: 1rem;
}
.send-btn {
  margin-top: 0.5rem;
}
.page-footer {
  background-color: white;
  margin: auto;
  width: 80%;
}
.footer-logo {
  text-align: left;
  width: 200px;
  margin-bottom: 0.5rem;
}
.social-footer {
  padding: 0 0.6rem;
  color: #212529;
}

ul {
  text-align: left;
}
li {
  line-height: 2;
}
a {
  color: #dc3545;
}
.hr-end {
  margin-bottom: 2.5rem;
}

.end-span {
  color: white;
  margin: auto;
  padding: 2.5rem 0;
}

/* Media Queries */

@media only screen and (max-width: 760px) {
  .main-div {
    width: 100%;
  }
  .featured-heading {
    font-size: 3rem;
  }
  .featured-p {
    width: 80%;
    font-size: 18px;
  }
  .featured-img {
    width: 28.125rem;
    height: 17.25rem;
  }
  .input-group {
    width: 100%;
  }
  .res-hr-mobile {
    margin: 2rem;
    display: block;
  }
  .logo-hr {
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
  }
  .navbar {
    display: none;
  }
  .sidebar {
    display: block;
  }
  .openbtn {
    display: block;
  }
  .links {
    text-align: center;
    padding-top: 2rem;
  }
  ul {
    margin-left: 2.6rem;
  }
}
